<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%> <%@ taglib prefix="c"
uri="http://java.sun.com/jsp/jstl/core"%> <%@ taglib prefix="fn"
uri="http://java.sun.com/jsp/jstl/functions" %> <%@ taglib
uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %> -->

<!DOCTYPE html>
<html>
  <head>
      
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>게시판 답글</title>
    <!-- <% int cs_id = Integer.parseInt(request.getParameter("cs_id")); int
    cs_re_group = Integer.parseInt(request.getParameter("cs_re_group")); int
    cs_re_order = Integer.parseInt(request.getParameter("cs_re_order")); int
    cs_re_depth = Integer.parseInt(request.getParameter("cs_re_depth")); %> -->
    <!-- 게시글 번호 -->
    <c:set var="cs_id" value="<%= cs_id %>" />
    <c:set var="cs_re_group" value="<%= cs_re_group %>" />
    <c:set var="cs_re_order" value="<%= cs_re_order %>" />
    <c:set var="cs_re_depth" value="<%= cs_re_depth %>" />

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link type="text/css" rel="stylesheet" href="../style/cs.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />
    <link rel="stylesheet" href="./style/Header.css"/>
    <link rel="stylesheet" href="./style/footer.css"/>
    <link rel="stylesheet" href="./style/csReply.css"/>
  </head>

  <!-- <%@ include file="../include/Header.jsp" %> -->
  <body>

    <div class="Login">
        <ul class="Login_ul">
          <li><a href="./Login.html">LOGIN</a></li>
          <li><a href="./signUp.html">SignUp</a></li>
          <li><a href="./Mypage.html">My Pages</a></li>
          <li class="Manager">
            관리자
            <span class="dropmenu">
              <!-- 관리자 카테고리 메뉴 연동 -->
              <span><a href="./Mypage.html">분양관리</a></span>
              <span><a href="./Mypage.html">회원관리</a></span>
              <span><a href="./Mypage.html">상품관리</a></span>
            </span>
          </li>
        </ul>
      </div>
      <header class="Header_menu">
        <div class="Title">
          <a href="./main.html">
            <h1>PaAWnini</h1>
          </a>
          <input class="Header_input" type="text" placeholder="Search..." />
        </div>
  
        <a class="basket" href="basket.html">
          <i class="fas fa-shopping-cart fa-lg"></i>
        </a>
  
        <ul class="Header_ul">
          <li class="Dog_dropmenu">
            Dog
            <span class="dropmenu">
              <span><a href="./product/Snack.html">Snack</a></span>
              <span><a href="./product/Supplies.html">Supplies</a></span>
              <span><a href="./product/meal.html">meal</a></span>
            </span>
          </li>
          <li class="Cat_dropmenu">
            Cat
            <span class="dropmenu">
              <span><a href="./productCat/Snack.html">Snack</a></span>
              <span><a href="./productCat/Supplies.html">Supplies</a></span>
              <span><a href="./productCat/meal.html">meal</a></span>
            </span>
          </li>
          <li><a href="./EVENT/event.html">Event</a></li>
          <li><a href="./Service/Service.html">Service</a></li>
  
          <li class="Dog_dropmenu">
            <a href="./Adopotion/Adoption.html"> Adoption</a>
            <span class="dropmenu">
              <span><a href="./Adopotion/dog.html">Dog</a></span>
              <span><a href="./Adopotion/Cat.html">Cat</a></span>
            </span>
          </li>
          <li><a href="./NOTIC/Notice.html">Notice</a></li>
        </ul>
      </header>

      <div class="Guide">
        <span>게시판 답글</span>
      </div>

    <h2 class="table_title">게시판 답글 - # ${ cs_id} :</h2>

    <div>
        <!-- 여기 폼이 어떤건지 데모좀 보여줄수 잇음? -->
      <form id="csForm" name="csForm">
        <input
          type="text"
          id="cs_parent_cs_id"
          name="cs_parent_cs_id"
          value="${cs.cs_id }"
        />
        <input type="hidden" name="member_id" value="${member.member_id }" />
        <input type="hidden" name="cs_re_group" value="${cs.cs_re_group }" />
        <input type="hidden" name="cs_re_order" value="${cs.cs_re_order }" />
        <input type="hidden" name="cs_re_depth" value="${cs.cs_re_depth }" />

        <table class="table" align="center">
          <tr>
            <td>
              <label for="cs_title"><span>제목</span></label
              ><input
                type="text"
                id="cs_title"
                name="cs_title"
                required
                autofocus
              />
            </td>
          </tr>
          <tr>
            <td>
              <label for="cs_writer"><span>작성자</span></label
              ><input type="text" id="cs_writer" name="cs_writer" required />
            </td>
            <!--  로그인 하면 후 멤버아이디도 보여주기 -->
            <td>
              <label for="member_id"><span>멤버아이디</span></label>${member.member_id }
            </td>
          </tr>
          <tr>
            <td>
              <label for="cs_show"><span>공개 여부</span></label>
              <select name="cs_show" id="cs_show">
                <option selected class="option" >${cs.cs_show }</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="cs_content"><span>내용</span></label><br /><textarea
                name="cs_content"
                id="cs_content"
                cols="50"
                rows="10"
                required
              ></textarea>
            </td>
          </tr>

          <tr>
            <td>
              <label for="cs_fileName"><span>파일</span></label
              ><input class="file" type="file" name="cs_fileName" id="cs_fileName" />
            </td>
          </tr>
        </table>
        <div class="button_div">
            <button type="button" class="reply_btn">답글 추가</button>
            <button type="button">입력 초기화</button>
        </div>

        <a class="button_list" href="getCsList.do">목록으로..</a>
      </form>
    </div>

    <div class="Bouns">
        <ul class="Bouns_ul">
          <li>
            <h3> <i class="fas fa-drumstick-bite lg"></i>신선한 사료</h3>
          </li>
          <li>
            <h3><i class="far fa-clock"></i>유통기한 100% 책임제</h3>
         
          </li>
          <li>
            <h3><i class="fas fa-shipping-fast"></i>신속! 정확! 배송!</h3>
          </li>
          <li>
            <h3><i class="fas fa-rss"></i>만원 이상 구매시 무료배송</h3>
          </li>
       
      </div>
  
      <footer>
        <div class="Coment">
          <ul class="Coment_Ul">
            <li class="Coment_li">
              <span class="Coment_span">REVERSIBLE HARNESSES</span>
              <span class="Coment_span">COLLARS</span>
              <span class="Coment_span">BANDANAS</span>
              <span class="Coment_span">HAIR RIBBONS & BRACELETS FOR HUMANS</span>
            </li>
          </ul>
  
          <ul class="Coment_Ul">
            <li class="Coment_li">
              <span class="Coment_span">REVERSIBLE HARNESSES</span>
              <span class="Coment_span">COLLARS</span>
              <span class="Coment_span">BANDANAS</span>
              <span class="Coment_span">HAIR RIBBONS & BRACELETS FOR HUMANS</span>
            </li>
          </ul>
  
          <ul class="Coment_Ul">
            <li class="Coment_li">
              <span class="Coment_span">REVERSIBLE HARNESSES</span>
              <span class="Coment_span">COLLARS</span>
              <span class="Coment_span">BANDANAS</span>
              <span class="Coment_span">HAIR RIBBONS & BRACELETS FOR HUMANS</span>
            </li>
          </ul>
  
          <ul class="Coment_Ul">
            <li class="Coment_li">
              <span class="Coment_span">REVERSIBLE HARNESSES</span>
              <span class="Coment_span">COLLARS</span>
              <span class="Coment_span">BANDANAS</span>
              <span class="Coment_span">HAIR RIBBONS & BRACELETS FOR HUMANS</span>
            </li>
          </ul>
        </div>
      </footer>

    <script type="text/javascript">
      //게시판 목록 페이지 이동
      function getCsList() {
        location.href =
          "getCsList.do?curPage=${scri.curPage}" +
          "&perPageNum=${scri.perPageNum}" +
          "&searchOption=${scri.searchOption}&searchKeyword=${scri.searchKeyword}";
      }
      $(document).ready(function () {
        var formObj = $("form[name='csForm']");

        $(".reply_btn").on("click", function () {
          var cs_id = $("#cs_id").val();
          var cs_re_group = $("#cs_re_group").val();
          var cs_re_order = $("#cs_re_order").val();
          var cs_re_depth = $("#cs_re_depth").val();
          var cs_parent_cs_id = $("#cs_parent_cs_id").val();
          var cs_title = $("#cs_title").val();
          var cs_writer = $("#cs_writer").val();
          var cs_show = $("#cs_show").val();
          var cs_content = $("#cs_content").val();
          var cs_fileName = $("#cs_fileName").val();
          var member_id = $("#member_id").val();
          if (cs_title == "") {
            alert("제목을 입력해주세요!");
            $("#cs_title").focus();
            return;
          }
          if (cs_writer == "") {
            alert("작성자를 입력해주세요!");
            $("#cs_writer").focus();
            return;
          }
          if (cs_content == "") {
            alert("내용을 입력해주세요!");
            $("#cs_content").focus();
            return;
          }

          var csReply = confirm("답글을 추가하시겠습니까?");

          if (csReply) {
            formObj.attr("action", "insertCsReply.do");
            formObj.submit();
          }
        });
      });
      function getCsList() {
        location.href =
          "getCsList.do?curPage=${scri.curPage}" +
          "&perPageNum=${scri.perPageNum}" +
          "&searchOption=${scri.searchOption}&searchKeyword=${scri.searchKeyword}";
      }
    </script>
  </body>
  <!-- <%@ include file="../include/Footer.jsp"%>
</html> -->
