*{
    text-decoration: none;
        color:inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{

}
.Login{
    font-size: 20px;
background-color: rgba(0,0,0,0.1);
}

.Login_ul{
    display: flex;
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  top:0px;
  z-index:1;
list-style: none;

}

.Login_ul li{
    padding: 10px;
}

.Title{
    display: flex;
justify-content: center;
font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 60px;
  margin-bottom: 10px;
}
.Header_input{
    border-style: none;
font-size: 25px;
margin-bottom: 10px;
outline :none;
margin-left: 100px;
border-bottom: 1px solid rgba(0,0,0,0.1);
padding: 0px 0px 10px 0px;
}
.Header_menu{
  z-index:1;

}
.Header_ul{
    display: flex;
  position:sticky;
  height: 60px;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    margin-left: 40px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 50px;
}

.Header_ul li{
    width:140px;
    position:relative;
font-size: 20px;
font-weight:600;
    color:black;
    opacity: 0.8;
}

.Header_ul li :hover{
  color:pink;
  transition: color 0.5s ease-in-out;
}






.advertisement_image{
width: 100%;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: absolute;

}

.advertisement_h1{
    display: flex;
justify-content: center;
align-items: center;
  font-size: 150px;
    position: absolute;
    margin-top: 600px;
    margin-left: 100px;

}

.Coment{
    display: flex;
    position: relative;
}

.leftMenu > li{
    width: auto;
    padding: 0 20px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    
}
 .Header_ul > li:hover > .dropmenu{
    visibility: visible;
}
 .Header_ul > li > .dropmenu{
    width: 150px;
    clear: both;
    position: absolute;
    left: 0;
    margin-top: 50px;
    text-align: left;
    visibility: hidden;
}
 .Header_ul > li > .dropmenu > span{
    width: 100%;
    display: inline-block;
    padding-left: 20px;
    color: black;
    font-weight: 600;
    padding: 10px;
}
 .Header_ul > li > .dropmenu > span:hover{
    font-weight: 700;
    color:pink;
    transition: color 0.5s ease-in-out;
}
.Dog_dropmenu{
    height: 60px;
    margin-top: 50px;
}
.Cat_dropmenu{
    height: 60px;
    margin-top: 50px;
}



.Coment{
    margin-top: 100px;
    display: flex;
border-top: 1px solid rgba(0,0,0,0.5);
background-color: #F4F4F4;
}
.Coment_Ul{
    color:black;
display: flex;
flex-direction: column;
margin-left: 20px;
margin-right: 200px;

}
.Coment_span{
    padding: 30px 0px 20px 0px;
display: flex;
font-size: 13px;
color:rgba(0,0,0,0.5);
}



body {
    margin: 0px;
  }
  main {
    padding-bottom: 100px;
  }

  section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  section div {
 
  }




  /* Scroll Animation (sa, 스크롤 애니메이션) */
  .sa {
    opacity: 0;
    transition: all 1.2s ease;
  }





 

  /* 왼쪽에서 오른쪽으로 페이드 인 */
  .sa-right {
    transform: translate(-100px, 0);
  }
  /* 오른쪽에서 왼쪽으로 페이드 인 */
  .sa-left {
    transform: translate(100px, 0);
  }
  /* 왼쪽으로 회전하면서 페이드 인 */
  .sa-rotateL {
    transform: rotate(180deg);
  }
  /* 오른쪽으로 회전하면서 페이드 인 */

  /* 작아진 상태에서 커지면서 페이드 인 */
  .sa-scaleUp {
    
    transform: scale(0.5);
  }
  /* 커진 상태에서 작아지면서 페이드 인 */
  .sa-scaleDown {
    transform: scale(1.5);
  }

  .sa.show {
    opacity: 1;
    transform: none;
  }

  .bener_ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,350px);
    gap: 50px;
    margin-left: 150px;
    text-decoration: none;
    list-style: none;
    text-shadow:  1px 1px 2px white;
      
  }
  .bener_ul li{
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .bener_ul li:hover{
    opacity: 0.7;
  }
  .bener_ul li:nth-child(1){
    background-image: url("../images/dog10.jpg");
    background-position: center center;
    background-size: cover;
    
   
  }
  .bener_ul li:nth-child(2){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
    
   
  }
  .bener_ul li:nth-child(3){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
     
   
  }
  .bener_ul li:nth-child(4){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
     width:600px;
   
  }
  .bener_ul li:nth-child(5){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
     
   
  }
  .bener_ul li:nth-child(6){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
     
   
  }

  .bener_text{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      padding-top: 100px;
      
  }
  
  




