*{
    text-decoration: none;
    
}

.table{
    margin-top: 80px;
    border: none;
    display: flex;
    align-items: center;
    border: 5px solid #fdcb6e;
    width: 70%;
    padding: 50px;
    font-size: 25px;
    margin-bottom: 30px;
}
.table:hover{
    transition:  box-shadow 0.5s ease-in-out ;
    box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.5);
}

.table td{
    display: flex;
    justify-content: flex-start;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    display: flex;
    border:2px solid #fdcb6e ;
    outline: #fd79a8;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
    z-index:1 ;

}
input:hover{
  
}
.table span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
opacity: 0.6;
font-weight: 600;
padding-top: 20px;

}
.table span:hover{
    opacity: 1;
}

.file_div label{

}
.file{
    border: none;
    outline: none;
    border: 2px solid  #fdcb6e;
    background-color:#fdcb6e ;

}
.option{
    border: 3px solid #fdcb6e ;
    outline: none;
    border-radius: 10px;
}

.option_two{
    border: 3px solid #fdcb6e ;
    outline: none;
    border-radius: 10px;
}
textarea{
    border:3px solid #fdcb6e ;;
    outline: none;
    padding: 15px;
    margin-bottom: 20px;
}

img:hover{
    transition: box-shadow 0.5s ease-in-out ;
    opacity: 0.7;
    box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.5);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    
}
.button{
    background:#fdcb6e;
    color:white;
    width: 35%;
    font-weight: 600;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-size: 20px;
  }
  .button:hover{
      border: 5px solid #fdcb6e ;
    background:#fff;
    color:black
  }
  .button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fdcb6e;
    transition:400ms ease all;
  }
 .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }


  .list{
    background:#fdcb6e;
    color:white;
    font-weight: 900;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-size: 20px;
  }
  .list:hover{
      border: 5px solid #fdcb6e ;
    background:#fff;
    color:black;
    font-weight: 900;
  }
  .list:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fdcb6e;
    transition:400ms ease all;
  }
 .list:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .list:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

 