.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 600px;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}
.product_image{
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
    width: 80%;
    margin-left: 15px;
    border-radius: 5px;
    border-right: 3px solid rgba(0,0,0,0.1);
}
.product_dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    text-decoration: none;

    
}
.product_dis li{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}
.product_dis span{
    color:red;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;

}

.product_dis li:nth-child(1){
 font-size: 25px;
 color:blue;
 font-weight: 600;

}
.product_dis li:nth-child(2){
    font-size: 35px;
    font-weight: 600;
   }
   .product_dis li:nth-child(3){
 color:red;
   }
   
   .product_dis li:nth-child(4){
       opacity: 0.3;
       font-size: 13px;
      }
      .product_dis li:nth-child(5){
        opacity: 0.3;
        font-size: 13px;
          }

     

          .product_stock{
              display: grid;
              grid-template-columns: repeat(3,1fr);
              height: 100px;
              width: 95%;
              gap: 15px;
              border: px solid #fdcb6e;
              font-size: 20px;
             
          }
          .product_stock ul{
            list-style: none;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;

    
          }
          .product_stock li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            font-size: 13px;
            font-weight: 600;

          }
          .product_stock li:nth-child(2){
           font-size: 30px;
           color: red;

          }

          .button{
            margin-bottom: 50px;
            margin-top: 50px;
            padding-bottom: 50px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            font-size: 100px;

            
          }
          .button_one{
            font-size: 25px;
            margin-right: 30px;
            border-radius: 15px;
            
        }
          .button_two{
            font-size: 25px; 
            margin-right: 30px;
            border-radius: 15px;

        }
        body:before{
            content:'';
            height:100%;
            display:inline-block;
            vertical-align:middle;
          }
          button{
            background:#81ecec;
            color:#1e3799;
            font-weight: 600;
            border:none;
            position:relative;
            height:60px;
            font-size:1.6em;
            padding:0 2em;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
          }
          button:hover{
            background:#fff;
            color:#fd79a8
          }
          button:before,button:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #fdcb6e;
            transition:400ms ease all;
          }
          button:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
          }
          button:hover:before,button:hover:after{
            width:100%;
            transition:800ms ease all;
          }
          .product_Information{
              display: grid;
              grid-template-columns: repeat(1,1fr);
              height: 100px;
              margin-bottom: 100px;
           
          }
          .product_Information h1{
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 2px solid rgba(0,0,0,0.1);
            border-bottom: 2px solid rgba(0,0,0,0.1);
            height: 100px;
            margin-top: 100px;
            margin-bottom: 100px;
          }

          .bener{
            margin-top: 80px;
          
          }
          

          .product_bener{
            display: flex;
            background-image: url("../images/dog12.jpg");
            background-position: center center;
            background-size: cover;
            height: 600px;
            width: 90%;
            margin-left: 80px;
            margin-top: 150px;
            margin-bottom: 150px;
          z-index: 0;
          box-shadow: 6px 6px 4px 4px rgba(0, 0, 0, 0.5);

          }
          .bener h1{
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            font-size: 50px;
          }

          .product_image_des{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            background-image: url("../images/dog12.jpg");
            background-position: center center;
            background-size: cover;
            height: 600px;
            margin-bottom: 150px;
          z-index: 0;
          margin-left: 150px;
          margin-top: 100px;
          width: 80%;
          }
          .product_title{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            padding: 50px;
            text-shadow:  5px 5px 5px gray;   
          }