*{
    text-decoration: none;
        color:inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Login{
    font-size: 20px;
background-color: rgba(0,0,0,0.1);
}

.Login_ul{
    display: flex;
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  top:0px;
  z-index:1;
list-style: none;

}

.Login_ul li{
    padding: 10px;
}

.Title{
    display: flex;
justify-content: center;
font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 60px;
  margin-bottom: 10px;
}
.Header_input{
    border-style: none;

font-size: 25px;
margin-bottom: 10px;
outline :none;
margin-left: 100px;
border-bottom: 1px solid rgba(0,0,0,0.1);
padding: 0px 0px 10px 0px;
}
.Header_menu{
  z-index:1;

}
.Header_ul{
    display: flex;
  position:sticky;
  height: 60px;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    margin-left: 40px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 50px;
}

.Header_ul li{
    width:140px;
    position:relative;
font-size: 20px;
font-weight:600;
    color:black;
    opacity: 0.8;
}

.Header_ul li :hover{
  color:pink;
  transition: color 0.5s ease-in-out;
}
.Coment{
    display: flex;
    position: relative;
}

.leftMenu > li{
    width: auto;
    padding: 0 20px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    
}
 .Header_ul > li:hover > .dropmenu{
    visibility: visible;
}
 .Header_ul > li > .dropmenu{
    width: 150px;
    clear: both;
    position: absolute;
    left: 0;
    margin-top: 50px;
    text-align: left;
    visibility: hidden;
}
 .Header_ul > li > .dropmenu > span{
    width: 100%;
    display: inline-block;
    padding-left: 20px;
    color: black;
    font-weight: 600;
    padding: 10px;
}
 .Header_ul > li > .dropmenu > span:hover{
    font-weight: 700;
    color:pink;
    transition: color 0.5s ease-in-out;
}
.Dog_dropmenu{
    height: 60px;
    margin-top: 50px;
}
.Cat_dropmenu{
    height: 60px;
    margin-top: 50px;
}



.Coment{
    display: flex;
border-top: 1px solid rgba(0,0,0,0.5);
background-color: #F4F4F4;
}
.Coment_Ul{
    color:black;
display: flex;
flex-direction: column;
margin-left: 20px;
margin-right: 200px;

}
.Coment_span{
    padding: 30px 0px 20px 0px;
display: flex;
font-size: 13px;
color:rgba(0,0,0,0.5);
}

.event{
margin-left: 150px;


}
.event_Title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-shadow:  2px 2px 2px gray;    
}

.event_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,300px) ;
    gap: 80px;
    width: 80%;
    text-decoration: none;
    list-style: none;
    text-shadow:  1px 1px 2px white;
}
.event_grid  li:hover{
    box-shadow: 6px 6px 4px 4px rgba(0, 0, 0, 0.5);
    transition:box-shadow 0.5s ease-in-out ;
    opacity: 0.7;
}

.event_grid li:nth-child(1){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
    color:black;
    font-family: 600;
}
.event_grid li:nth-child(2){
    background-image: url("../images/dog10.jpg");
    background-position: center center;
    background-size: cover;
}
.event_grid li:nth-child(3){
    background-image: url("../images/dog10.jpg");
    background-position: center center;
    background-size: cover;
}
.event_grid li:nth-child(4){
    background-image: url("../images/dog10.jpg");
    background-position: center center;
    background-size: cover;
}
.event_grid li:nth-child(5){
    background-image: url("../images/dog3.jpg");
    background-position: center center;
    background-size: cover;
}
.event_grid li:nth-child(6){
    background-image: url("../images/dog4.jpg");
    background-position: center center;
    background-size: cover;
}
.event_grid li:nth-child(7){
    background-image: url("../images/dog5.jpg");
    background-position: center center;
    background-size: cover;
}
.event_grid li:nth-child(8){
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
}

.event_grid li:nth-child(9){
    background-image: url("../images/dog12.jpg");
    background-position: center center;
    background-size: cover;
}
