section#content ul li {
    border: 5px solid #eee;
    padding: 10px 20px;
    margin-bottom: 20px;
    list-style: none;
  }

  section#content .orderList span {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 90px;
    margin-right: 10px;
  }

  section#content .orderList {
    margin-left: 300px;
    margin-right: 300px;
  }