.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    width: 50%;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 500px;
    height: 700px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
    border-radius: 25px;
}
body{
    height: 200vh;
}

   
.Form_title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 60px;
    
}
.Form_Login{
    width: 400px;
    height: 60px;
    margin-bottom: 30px;
    font-size: 25px;
    border:none;
    border-bottom:2px solid rgba(0,0,0,0.3);
    outline:none;
    border-radius: 15px;
}
.Form_Password{
    width: 400px;
    height: 60px;
    font-size: 25px;
    border:none;
    border-bottom:2px solid rgba(0,0,0,0.3);
    outline:none;
    border-radius: 15px;
}
.button_Login{
margin-left: 350px;
font-size: 20px;
border: none;
}
.Form_SignUP{
    display: flex;
    justify-content: center;
    margin-left: 350px;
}