*{
    text-decoration: none;
        color:inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{

}
.Login{
    font-size: 20px;
background-color: rgba(0,0,0,0.1);
}

.Login_ul{
    display: flex;
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  top:0px;
  z-index:1;
list-style: none;

}

.Login_ul li{
    padding: 10px;
}

.Title{
    display: flex;
justify-content: center;
font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 60px;
  margin-bottom: 10px;
}
.Header_input{
    border-style: none;
margin-left: 80px;
font-size: 25px;
margin-bottom: 10px;
outline :none;
margin-left: 1500px;
border-bottom: 1px solid rgba(0,0,0,0.1);
padding: 0px 0px 10px 0px;
}
.Header_menu{
  z-index:1;
  margin-bottom: 20px;

}
.Header_ul{
    display: flex;
  position:sticky;
  height: 60px;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    margin-left: 40px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 50px;
}

.Header_ul li{
    width:140px;
    position:relative;
font-size: 20px;
font-weight:600;
    color:black;
    opacity: 0.8;
}
#slide{
    margin-top: 100px;
    z-index: 0;
}
  ul,li{list-style:none;
    z-index: 0;
}
  #slide{height:1000px;position:relative;overflow:hidden;}
  #slide ul{width:400%;height:100%;transition:1s;}
  #slide ul:after{content:"";display:block;clear:both;}
  #slide li{float:left;width:25%;height:100%;}
  #slide li:nth-child(1){
      background-image: url("../images/dog10.jpg");
      background-position: center center;
      background-size: cover;
    }
    #slide li:nth-child(2){
        background-image: url("../images/dog18.jpg");
        background-position: center center;
        background-size: cover;
      }
      #slide li:nth-child(3){
        background-image: url("../images/dog10.jpg");
        background-position: center center;
        background-size: cover;
      }
      #slide li:nth-child(4){
        background-image: url("../images/dog18.jpg");
        background-position: center center;
        background-size: cover;
      }
  #slide input{display:none;}
  #slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
  #slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
  #pos1:checked~ul{margin-left:0%;}
  #pos2:checked~ul{margin-left:-100%;}
  #pos3:checked~ul{margin-left:-200%;}
  #pos4:checked~ul{margin-left:-300%;}
  #pos1:checked~.pos>label:nth-child(1){background:#666;}
  #pos2:checked~.pos>label:nth-child(2){background:#666;}
  #pos3:checked~.pos>label:nth-child(3){background:#666;}
  #pos4:checked~.pos>label:nth-child(4){background:#666;}


  .Store_Save{
      margin-top: 150px;
  }
  .Store_h1 {
    display: flex;
justify-content: start;
align-items: center;
font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 50px;
  font-size: 50px;
  margin-left: 50px;

  }
  .Store_h3{
    margin-left: 50px;
}

.store_grid{
 border-bottom: 1px solid rgba(73, 55, 55, 0.2);
 padding-bottom: 100px;

}
.store_ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    height: 300px;
}
.store_li_own{
    background-image: url("../images/dog2.jpg");
    background-position: center center;
    background-size: cover;
}
.store_li_own :hover{
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);
    transition: box-shadow 0.5s  ease-in-out;
}
.store_li_two{
    background-image: url("../images/dog3.jpg");
    background-position: center center;
    background-size: cover;
}
.store_li_three{
    background-image: url("../images/dog4.jpg");
    background-position: center center;
    background-size: cover;
}
.store_li_four{
    background-image: url("../images/dog5.jpg");
    background-position: center center;
    background-size: cover;
}

.store_li_fiv{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
}

.Post{
margin-top: 250px;
margin-left: 150px;

}

.post_ul{
    display: grid;
    grid-template-columns: repeat(2,600px);
    grid-template-rows: repeat(3,400px);
    gap: 300px;
border-bottom: 3px solid rgba(0,0,0,0.1);
padding-bottom: 300px;

}
.Post_own{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);

}
.Post_two{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);

}

.Post_thr{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);

}
.Post_fou{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);

}
.Post_fiv{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);

}

.Post_six{
    background-image: url("../images/dog6.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.8);

}


.advertisement_image{
width: 100%;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: absolute;

}

.advertisement_h1{
    display: flex;
justify-content: center;
align-items: center;
  font-size: 150px;
    position: absolute;
    margin-top: 600px;
    margin-left: 100px;

}

.Coment{
    display: flex;
    position: relative;
}

.leftMenu > li{
    width: auto;
    padding: 0 20px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    
}
 .Header_ul > li:hover > .dropmenu{
    visibility: visible;
}
 .Header_ul > li > .dropmenu{
    width: 150px;
    clear: both;
    position: absolute;
    left: 0;
    margin-top: 50px;
    text-align: left;
    visibility: hidden;
}
 .Header_ul > li > .dropmenu > span{
    width: 100%;
    display: inline-block;
    padding-left: 20px;
    color: black;
    font-weight: 600;
    padding: 10px;
}
 .Header_ul > li > .dropmenu > span:hover{
    font-weight: 700;
    color:black;
}
.Dog_dropmenu{
    height: 60px;
    margin-top: 50px;
}
.Cat_dropmenu{
    height: 60px;
    margin-top: 50px;
}




