body{
    padding: 0;
    margin: 0;
  }
  div{
    box-sizing: border-box;
  }

  .mypags_form{
    width: 80%;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 15px;
    
  }

  .user_ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    font-weight: 600;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 30px;
    margin-left: 220px;
    margin-top: 60px;
    border-radius: 15px;
    opacity: 0.7;
  }
  
  .side_ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .side_ul li{
    padding: 3px;
    font-weight: 300;
    margin-top: 20px;
    font-size: 15px;
  }
  
  .title_fir{
    display: flex;
    width: 5%;
    padding: 3px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    padding-bottom: 15px;
  }
  
  
  
  /* alert badge */
  .circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ff0000;
    position: absolute;
    top: -5px;
    left: 110%;
  }
  

 

  .grid{
    display: grid;
    grid-template-columns: repeat(1,150px);
    grid-template-rows: repeat(6,50px);
    gap: 15px;
    margin-top: 10px;


  }

  .grid div{
    display: flex ;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
  }
  .order:hover{
 
  }

  .grid div:hover{
    transition: box-shadow 0.5s ease-in-out ;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
  }









  /* 녹색배경 */
  .greenContainer{  
    height: 132px;
    background-color:pink;    
    display: flex;
    align-items: flex-end;
    padding: 16px;
  }
  
  .greenContainer .name{
     font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  } 
  .greenContainer .modify{
    margin-left: auto;
  }
  
  /* 공지사항 이용안내 고객센터 */
  .infoContainer{
    background-color: white; 
    display: flex;
    height: 100px;
    margin-bottom: 10px;    
  }
  
  .infoContainer .item{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    text-decoration: none;
    color: black;
  }
  .infoContainer .item > div:first-child{
    margin-bottom: 2px;
  }

  
  
  
  