.container{
font-weight: 900;
}


/* .bacground_img 주석 */
.bacground_img{
  background-position: center center;
  background-size: cover;
  filter:blur(5px);
  z-index: -1;
  position: absolute;
  width: 90%;
height: 150%;

}

.form-group{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 92%;
  margin-top: 50px;
  box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 50px;
  padding-right: 40px;
  padding-bottom: 30px;


}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 500px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
}
.write_head{
  display: flex;
  margin-bottom: 50px;

}
#write_head_title{
  margin-right: 150px;
}
span{
  font-size: 15px;
  font-weight: 900;
  opacity: 0.8;
  font-weight: 900;
}

.write{
  display: flex;
  flex-direction: column;
  margin-top: 50px;

}

#text_dic{
  width:100%; 
	height:500px; 
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
}

input{
  width: 10%;
  border: none;
  outline: none;
 background-color: inherit;
}
#size{
  margin-right: 50px;
}

.button{
  display: flex;
  justify-content: flex-end;
  color:white;
  font-size: 20px;
  width: 50%;
  margin-left: 700px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.btn{
  background:#fdcb6e;
  color:white;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  width: 100px;
  border-radius: 15px;


}
.btn:hover{
    border: 5px solid #fdcb6e ;
  background:#fff;
  color:#fdcb6e;
}

.btn_reply{
  background:#fdcb6e;
  color:white;
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 15px;

}
.btn_reply:hover{
  border: 5px solid #fdcb6e ;
background:#fff;
color:#fdcb6e;
}


.like{
  margin-top: 20px;
}

.reply{
border-top: 1px solid rgba(0, 0, 0, 0.2);
width: 95%;
}



.btn_list{
  display: flex;
  justify-content: flex-end;
}

.form-horizontal{
  display: flex;

}
#text_review{
  width:80%; 
	height:100px; 
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.btn_review{

}
.footer{
  width:80%; 
  display: flex;
  margin-left: 40px;
}
.review{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.btn_review{
  background:#fdcb6e;
  color:white;
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_review:hover{
  border: 5px solid #fdcb6e ;
background:#fff;
color:#fdcb6e;
}
.btn_footer{
  display: flex;
  justify-content: flex-end;
  margin-left: 1300px;
}



.option{
  border:3px solid#fdcb6e;
  outline: #fdcb6e;
  border-radius: 5px;
}
#footer_title,
.footer_text{
  margin-left: 40px;
}
