button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    background:#fdcb6e;
    color:white;
    font-weight: 600;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-size: 20px;
}